@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


$head-color: #0300b1;
$body-color:#edf1f8;
$orange: #e45826;
$blank: #e6d5b8;
$font-family: 'Montserrat', sans-serif;
$svg-color:#4a4e58;


@mixin contained(){
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

@mixin shadowed(){
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.23); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.23);
}